.home-container {
    text-align: center;
    padding: 20px;
}

.welcome-message {
    margin-bottom: 20px;
}

.banner {
    margin: 20px 0;
}

.banner-image {
    max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.products-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
}

.products-button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}
